<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,800i,900,900i&display=swap" rel="stylesheet">
</head>

<body>
